<%= content_for :title, @user.name %>
<div class='row'>
  <div class="columns large-1">
    <%= render partial: 'shared/left', locals: { user: @user } %>
  </div>
  <div class="columns large-2 left">
    <%= render @todo_lists %>
  </div>
  <div class="columns large-8 left">
    <%= render @todos %>
  </div>
</div>
<%= render partial: 'shared/footer', locals: { user: @user } %>
