<%= content_for :title, @user.name %>

<div class='row'>
  <div class='columns large-10 large-offset-1'>
    <%= simple_form_for [@user, @user.todos.build], method: 'post' do |f| %>
      <%= f.input :title, label: false %>
      <%= f.submit 'Save', class: 'button small success' %>
    <% end %>
  </div>

<div class='row'>
  <div class='columns large-10 large-offset-1'>
    <%= render @todos %>
  </div>
</div>
<%= render partial: 'shared/footer', locals: { user: @user } %>

